@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    --mobile-width: 23.4375rem;
    --desktop-width: 90rem;

    --blue-600: #18A1AE;
    --navy-950: #2D3248;
    --gray-500: #696E81;
    --gray-100: #E8E9EC;

    --font-family: "Kumbh Sans", sans-serif;
    --font-size-body: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    background-color: var(--blue-600);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;

    top: -20%;
    left: -40%;

    background-image: url('./images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-position: left top;
    transform: rotate(38deg);
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;

    bottom: -20%;
    right: -40%;

    background-image: url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    transform: rotate(38deg);
    z-index: -1;
}

.card-container {
    width: 22rem;
    background: var(--gray-100);
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 50px 100px -20px rgba(8, 70, 94, 0.5), 0 30px 60px -30px rgba(0, 0, 0, 0.4);
}

.upper-pattern img {
    display: block;
    width: 100%;
}

.profile-pic {
    display: flex;
    justify-content: center;
    margin-top: -3.5rem;
}

.profile-pic img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid var(--gray-100);
}

.bottom-section {
    background-color: var(--gray-100);
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    .basic-info {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .name {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--navy-950);
        }

        .age {
            color: var(--gray-500);
            font-weight: 400;
        }
    }

    .location {
        color: var(--gray-500);
        font-size: .9rem;
        padding-top: .5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(150, 150, 150, 0.3);
        width: 100%;
    }

    .statistics-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding-top: 1rem;
        line-height: 1.8;
    }

    .statistics-section>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .num {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--navy-950);
    }

    .title {
        font-size: .6rem;
        color: var(--gray-500);
        letter-spacing: 0.1rem;
    }
}

/* Mobile 375px */
@media (max-width: 46rem) {
    body::before {
        width: 360px;
        height: 360px;

        top: -180px;
        left: -150px;

        background-size: cover;
    }

    body::after {
        width: 360px;
        height: 360px;

        bottom: -160px;
        right: -150px;

        background-size: cover;
    }

    .card-container {
        width: 90%;
        max-width: 350px;
    }
}